body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding:50px 0;
  border-bottom: 2px solid #000000;
}

button {
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  
}

.pizza__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizza__img {
  position: relative;
  width: 300px;
  height: 300px;

  border-radius: 50%;
  border: 10px solid #F48E0E;
  background-color: #FEC746;
}

.pizza__ingredient{
  position: absolute;
  top: 0;
  left: 0;

  width: 300px;
  height: 300px;
  border-radius: 50%;

  background: url('/src/svg/SwissCheeseHeart.svg');
}

.pizza__editor {
  width: 300px;
  min-height: 100px;

  background-color: antiquewhite;
}